name: run-tests

on:
    push:
        branches: [ "*" ]
    pull_request:
        branches: [ "dev", "main" ]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Build
              run: cargo build --verbose

            - name: Run tests
              run: cargo test --verbose

            - name: Run clippy
              run: cargo clippy --all-targets --all-features